* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

header {
    display: flex;
    direction: row;
    flex-wrap: nowrap;
}

button {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border: none;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
    color: rgb(0, 0, 0)
}

button:hover {
    font-size: 25px;
}

body {
    background-image: url(images/estrelas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overscroll-behavior: contain;
    overflow: hidden;
}

footer {
    display: flex;
    size: 5em;
}

ul {
    display: flex;
    direction: row;
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 3;
    align-items: center;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #005577;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    border: 1px solid rgb(176, 173, 173);
}

li:nth-child(1) {background-color: #eccb24;}
li:nth-child(2) {background: radial-gradient(rgba(75, 49, 219, 0.694), rgba(252, 190, 74, 0.58) );}
li:nth-child(3) {background-color: rgba(255, 128, 17, 0.642);}
li:nth-child(4) {background: radial-gradient(rgba(6, 204, 6, 0.658), rgb(29, 73, 215));}
li:nth-child(5) {background-color: rgba(255, 85, 0, 0.603);}
li:nth-child(6) {background: linear-gradient(rgba(209, 158, 106, 0.66), rgba(123, 123, 160, 0.678), rgba(209, 158, 106, 0.66));}
li:nth-child(7) {background-color: rgba(214, 178, 85, 0.653);}
li:nth-child(8) {background-color: rgba(21, 184, 229, 0.676);}
li:nth-child(9) {background-color: rgba(50, 87, 175, 0.765);}
li:nth-child(10) {background-color: #bcbcbc9e;}

.grid {
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0 auto;
    display: grid;
    border: 1px dashed #ffffff;
}

.foot {
    display: flex;
    flex-direction: row;
    background-color: #b22200;
}

.solar-system {
    position: relative;
    width: 600px;
    height: 460px;
    margin: 100px;
    border: 0px;
}

.sun {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #ffcc00; /* Cor do Sol */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 30px rgba(255, 204, 0, 0.845); /* Efeito de brilho */
}

.orbit {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border: 1px dashed #ad9898;/* Linhas de órbita */
}

.mercury-orbit {
    animation: orbit 5s linear infinite;
    width: 160px;
    height: 160px;
}

.venus-orbit {
    animation: orbit 7s linear infinite;
    width: 230px;
    height: 230px;
}

.earth-orbit {
    animation: orbit 10s linear infinite;
    width: 315px;
    height: 315px;
}

.mars-orbit {
    animation: orbit 12s linear infinite;
    width: 400px;
    height: 400px;
}

.jupiter-orbit {
    animation: orbit 16s linear infinite;
    width: 510px;
    height: 510px;
}

.saturn-orbit {
    animation: orbit 18s linear infinite;
    width: 710px;
    height: 710px;
}

.uranus-orbit {
    animation: orbit 20s linear infinite;
    width: 900px;
    height: 900px;
}

.neptune-orbit {
    animation: orbit 26s linear infinite;
    width: 1015px;
    height: 1015px;
}

.planet {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Efeito de brilho nos planetas */
}

.mercury {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #6d6d6d 0%, #4e4e4e 70%); /* Gradiente para Mercúrio */
    width: 20px;
    height: 20px;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.venus {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #ffcc66 0%, #cc9933 70%); /* Gradiente para Vênus */
    width: 30px;
    height: 30px;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.earth {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #3399ff 0%, #005577 70%); /* Gradiente para Terra */
    width: 35px;
    height: 35px;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mars {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #ff3300 0%, #b22200 70%); /* Gradiente para Marte */
    width: 25px;
    height: 25px;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.jupiter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #d1a25a 0%, #a77f2e 70%); /* Gradiente para Júpiter */
    width: 70px;
    height: 70px;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.saturn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #e6c97b 0%, #c2a052 70%); /* Gradiente para Saturno */
    width: 60px;
    height: 60px;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.uranus {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #8ac6e9 0%, #007f99 70%); /* Gradiente para Urano */
    width: 50px;
    height: 50px;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.neptune {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #4a90e2 0%, #2a658e 70%); /* Gradiente para Netuno */
    width: 45px;
    height: 45px;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#fatos_sol {
    animation: fato_sol;
}

#fatos_sol:hover {
    content:"Sol?"
}

.tesla {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 90%;
    top: 40%;
    height: 50px;
    width: 50px;
}

.tesla-orbit {
    animation: tesla-orbit 7s linear infinite;
    position: absolute;
    width: 620px;
    height: 620px;
}

.tesla-orbit img {
    animation: tesla-position 7s linear infinite;
    scale: 0.7;
}

#doctor_who {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 40px;
}

#doctor_who img{
    z-index: -1;
    height: 100%;
    width: 100%;
    rotate:y 180deg ;
    transform: translate(-1000px,500px);
    position: relative;
    animation: doctor_who_a 12s infinite;
    animation-delay: 1s;
}

@keyframes doctor_who_a{
    from {
        transform: translate(1000px);
    }
    to {
        transform: translate(-2000px);
    }
}

@keyframes orbit {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes tesla-orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes tesla-position {

}

.carousel-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

.carousel-btn:hover {
    background-color: #ccc;
}

.logo-star-wars:hover {
    width: 200px; /* ajuste o tamanho conforme necessário */
    animation: girar 2s linear infinite; /* 2s é a duração da rotação */
}

@keyframes girar {
    0% {
        scale: 1;
        transform: rotate(0deg);
    }
    50% {
        scale: 2;
        transform: rotate(180deg);
    }

    100% {
        scale: 1;
        transform: rotate(360deg);
    }
}
