* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Classes de tags do html*/

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

header {
    display: flex;
    direction: row;
    flex-wrap: nowrap;
}

button {
    position: absolute;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border: none;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
    color: rgb(0, 0, 0)
}

body {
    background-image: url(images/estrelas.jpg);
    background-repeat: repeat;
    background-size: 200% 100%;
    overscroll-behavior: contain;
    overflow: hidden;
    animation: moving_stars 30s linear infinite;

}

footer {
    display: flex;
    size: 5em;
}

ul {
    display: flex;
    direction: row;
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 3;
    align-items: center;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #005577;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    border: 1px solid rgb(176, 173, 173);
}

li:nth-child(1) {background-color: #eccb24;}
li:nth-child(2) {background: radial-gradient(rgba(75, 49, 219, 0.694), rgba(252, 190, 74, 0.58) );}
li:nth-child(3) {background-color: rgba(255, 128, 17, 0.642);}
li:nth-child(4) {background: radial-gradient(rgba(6, 204, 6, 0.658), rgb(29, 73, 215));}
li:nth-child(5) {background-color: rgba(255, 85, 0, 0.603);}
li:nth-child(6) {background: linear-gradient(rgba(209, 158, 106, 0.66), rgba(123, 123, 160, 0.678), rgba(209, 158, 106, 0.66));}
li:nth-child(7) {background-color: rgba(214, 178, 85, 0.653);}
li:nth-child(8) {background-color: rgba(21, 184, 229, 0.676);}
li:nth-child(9) {background-color: rgba(50, 87, 175, 0.765);}
li:nth-child(10) {background-color: #bcbcbc9e;}

@keyframes moving_stars {
    to {
        background-position: -200% 0;
    }
}

/*Classes do CSS*/

.grid {
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0 auto;
    display: grid;
    border: 1px dashed #ffffff;
}

.foot {
    display: flex;
    flex-direction: row;
    background-color: #b22200;
}

/*Header*/

.fatos-sol .button-facts {
    visibility: hidden;
    position: absolute;
    height: 300px;
    width: 400px;
    top: 200px;
    left: 0px;
    border-radius: 10%;
    padding: 3px;
    border: 2px solid white;
    background-image: url(images/fatos-background/fatos-background-1.jpg);
    background-size: 100% 100%;
    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fatos-sol p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
    width: 350px;
    text-align: center;
}

.fatos-sol:hover .button-facts {
    visibility: visible;
}

.fatos-sol img {
    height: 200px;
    width: 200px;
}

.fat-merc .button-facts {
    visibility: hidden;
    position: absolute;
    height: 350px;
    width: 400px;
    top: 200px;
    left: 0px;
    border-radius: 10%;
    padding: 3px;
    border: 2px solid white;
    background-image: url(images/fatos-background/fatos-background-2.jfif);
    background-size: 100% 100%;
    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fat-merc p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
    width: 350px;
    text-align: center;
}

.fat-merc:hover .button-facts {
    visibility: visible;
}

.fat-merc img {
    height: 200px;
    width: 200px;
}

.fat-ven .button-facts {
    visibility: hidden;
    position: absolute;
    height: 350px;
    width: 400px;
    top: 200px;
    left: 0px;
    border-radius: 10%;
    padding: 3px;
    border: 2px solid white;
    background-image: url(images/fatos-background/fatos-background-3.jpg);
    background-size: 100% 100%;
    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fat-ven p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
    width: 350px;
    text-align: center;
}

.fat-ven:hover .button-facts {
    visibility: visible;
}

.fat-ven img {
    height: 200px;
    width: 200px;
}

.fat-terra .button-facts {
    visibility: hidden;
    position: absolute;
    height: 350px;
    width: 400px;
    top: 200px;
    left: 0px;
    border-radius: 10%;
    padding: 3px;
    border: 2px solid white;
    background-image: url(images/fatos-background/fatos-background-4.jpg);
    background-size: 100% 100%;
    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fat-terra p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
    width: 350px;
    text-align: center;
}

.fat-terra:hover .button-facts {
    visibility: visible;
}

.fat-terra img {
    height: 200px;
    width: 200px;
}

.fat-mar .button-facts {
    visibility: hidden;
    position: absolute;
    height: 350px;
    width: 400px;
    top: 200px;
    left: 0px;
    border-radius: 10%;
    padding: 3px;
    border: 2px solid white;
    background-image: url(images/fatos-background/fatos-background-5.jfif);
    background-size: 100% 100%;
    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fat-mar p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
    width: 350px;
    text-align: center;
}

.fat-mar:hover .button-facts {
    visibility: visible;
}

.fat-mar img {
    height: 200px;
    width: 200px;
}

.fat-jup .button-facts {
    visibility: hidden;
    position: absolute;
    height: 300px;
    width: 400px;
    top: 200px;
    left: 0px;
    border-radius: 10%;
    padding: 3px;
    border: 2px solid white;
    background-image: url(images/fatos-background/fatos-background-6.webp);
    background-size: 100% 100%;
    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fat-jup p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
    width: 350px;
    text-align: center;
}

.fat-jup:hover .button-facts {
    visibility: visible;
}

.fat-jup img {
    height: 200px;
    width: 200px;
}

.fat-sat .button-facts {
    visibility: hidden;
    position: absolute;
    height: 320px;
    width: 400px;
    top: 200px;
    left: 0px;
    border-radius: 10%;
    padding: 3px;
    border: 2px solid white;
    background-image: url(images/fatos-background/fatos-background-7.jfif);
    background-size: 100% 100%;
    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fat-sat p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
    width: 350px;
    text-align: center;
}

.fat-sat:hover .button-facts {
    visibility: visible;
}

.fat-sat img {
    height: 200px;
    width: 200px;
}

.fat-ur .button-facts {
    visibility: hidden;
    position: absolute;
    height: 300px;
    width: 400px;
    top: 200px;
    left: 0px;
    border-radius: 10%;
    padding: 3px;
    border: 2px solid white;
    background-image: url(images/fatos-background/fatos-background-8.jpg);
    background-size: 100% 100%;
    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fat-ur p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
    width: 350px;
    text-align: center;
}

.fat-ur:hover .button-facts {
    visibility: visible;
}

.fat-ur img {
    height: 200px;
    width: 200px;
}

.fat-netu .button-facts {
    visibility: hidden;
    position: absolute;
    height: 350px;
    width: 400px;
    top: 200px;
    left: 0px;
    border-radius: 10%;
    padding: 3px;
    border: 2px solid white;
    background-image: url(images/fatos-background/fatos-background-9.jpg);
    background-size: 100% 100%;
    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fat-netu p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
    width: 350px;
    text-align: center;
}

.fat-netu:hover .button-facts {
    visibility: visible;
}

.fat-netu img {
    height: 200px;
    width: 200px;
}

/*Sistema solar*/

.solar-system {
    position: relative;
    width: 600px;
    height: 460px;
    margin: 100px;
    border: 0px;
}

.sun {
    background-image: url(images/planetas/Solarsystemscope_texture_8k_sun.jpg);
    background-size: 150% 100%;
    animation: sun_rotation 5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 60px rgba(255, 204, 0, 0.945); /* Efeito de brilho */
}

.orbit {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border: 1px dashed #ad9898;/* Linhas de órbita */
}

.mercury-orbit {
    animation: orbit 5s linear infinite;
    width: 160px;
    height: 160px;
}

.venus-orbit {
    animation: orbit 7s linear infinite;
    width: 230px;
    height: 230px;
}

.earth-orbit {
    animation: orbit 10s linear infinite;
    width: 315px;
    height: 315px;
}

.mars-orbit {
    animation: orbit 12s linear infinite;
    width: 400px;
    height: 400px;
}

.jupiter-orbit {
    animation: orbit 16s linear infinite;
    width: 510px;
    height: 510px;
}

.saturn-orbit {
    animation: orbit 18s linear infinite;
    width: 710px;
    height: 710px;
}

.uranus-orbit {
    animation: orbit 20s linear infinite;
    width: 900px;
    height: 900px;
}

.neptune-orbit {
    animation: orbit 26s linear infinite;
    width: 1015px;
    height: 1015px;
}

.planet {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Efeito de brilho nos planetas */
}

.mercury {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #6d6d6d 0%, #4e4e4e 70%); /* Gradiente para Mercúrio */
    width: 20px;
    height: 20px;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.venus {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #ffcc66 0%, #cc9933 70%); /* Gradiente para Vênus */
    width: 30px;
    height: 30px;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.earth {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #3399ff 0%, #005577 70%); /* Gradiente para Terra */
    width: 35px;
    height: 35px;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mars {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #ff3300 0%, #b22200 70%); /* Gradiente para Marte */
    width: 25px;
    height: 25px;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.jupiter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #d1a25a 0%, #a77f2e 70%); /* Gradiente para Júpiter */
    width: 70px;
    height: 70px;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.saturn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #e6c97b 0%, #c2a052 70%); /* Gradiente para Saturno */
    width: 60px;
    height: 60px;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.uranus {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #8ac6e9 0%, #007f99 70%); /* Gradiente para Urano */
    width: 50px;
    height: 50px;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.neptune {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #4a90e2 0%, #2a658e 70%); /* Gradiente para Netuno */
    width: 45px;
    height: 45px;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes orbit {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes sun_rotation {
    to {background-position: -300% 0;}
}

/*Outras Animações*/

.rato {
    opacity: 0;
    position: absolute;
    height: 100px;
    width: 100px;
    padding: none;
    z-index: 10000;
    top: 39%;
    left: 42%;
}

.rato:hover {
    z-index: 100000;
    opacity: 0;
    animation:500s rato-c linear infinite;
}

@keyframes rato-c {
    0% {
        opacity: 0;
        scale: 1;
    }
    
    0.1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        scale: 10;
    }
}

.falcon img{
    position: absolute;
    animation: 5s bye linear infinite;
}

@keyframes bye {
    from {
        transform: translate(-1500px, -100px);
        scale: 1;
    }
    to {
        transform: translate(100px, 400px);
        scale: 0;
    }
}

.logo-star-wars:hover {
    width: 200px; /* ajuste o tamanho conforme necessário */
    animation: girar 2s linear infinite; /* 2s é a duração da rotação */
}

@keyframes girar {
    0% {
        scale: 1;
        transform: rotate(0deg);
    }
    50% {
        scale: 2;
        transform: rotate(180deg);
    }

    100% {
        scale: 1;
        transform: rotate(360deg);
    }
}

.tesla {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 90%;
    top: 40%;
    height: 50px;
    width: 50px;
}

.tesla-orbit {
    animation: tesla-orbit 7s linear infinite;
    position: absolute;
    width: 620px;
    height: 620px;
}

.tesla-orbit img {
    animation: tesla-position 7s linear infinite;
    scale: 0.7;
}

@keyframes tesla-orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes tesla-position {

}

#doctor_who {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 40px;
}

#doctor_who {
    position:absolute;
    top:100px;
    animation: doctor_who_a 8s linear infinite;
}

#doctor_who img{
    position: inherit;
    z-index: 10;
    height: 100%;
    width: 100%;
    rotate:y 180deg ;
    position: relative;
    animation-delay: 1s;
}

.doctor_who_caption {
    /*Text settings*/
    z-index: 10;
    text-align: center;
    color: white;
    font-style: bold;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*Animation setting*/
    animation: doctor_who_exterminate 2s linear infinite
}

@keyframes doctor_who_a{
    from {
        left:-1000px;
    }
    to {
        left:2000px;
    }
}

@keyframes doctor_who_exterminate {
    from {opacity: 1;}
    to {opacity: 0;}
}

/*Info html*/

.carousel-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

.carousel-btn:hover {
    background-color: #ccc;
}
